<div class="jumbotron">
  <h2> Hello, <b>{{mynickname}}</b></h2>,
  <p>Would you like to play Tic-Tac-Toe??</p>
  <p>If so, look below!</p>
</div>
<br>

 
<div class="row">




  <table class="gameBoard" ng-repeat="board in boards ">
    <tr ng-repeat="row in board.values">
      <td ng-repeat="cell in row" 
        ng-class="cell.value" 
        ng-click="move(cell, board.index);">{{ cell.value }} 
      </td>    <!-- ng-disabled="isTaken(cell) || winner" --> 
    </tr>
    <tr>
      <td><button ng-click="joinGame(board.index)" class="btn btn-primary">Join</button></td>
    </tr>
    <tr>
      <td>{{ board.playerX.name }} vs {{ board.playerO.name }}</td>
    </tr>
    <!-- <tr id="joinbtn">
      <td></td>
      <td id="joinbtntd"></td>
      <td id="joinbtntd"><button ng-click="joinGame()" class="btn btn-primary">Join</button></td>
    </tr> -->
    <!-- <tr ng-hide="winner || cat"><td>Current Player: {{ board.currentPlayer }}</td></tr>
    <tr ng-show="winner"><td>Player {{board.currentPlayer}} Lost!</td></tr>
    <tr ng-show="winner"><td>Cat</td></tr>-->
   <!--  <tr><td id='message'>{{gameWarning}}</td></tr>  -->
  </table>

  <!-- <span ng-hide="winner || cat"></span>
  <span ng-show="winner">Player {{ currentPlayer }} Lost!</span>
  <span ng-show="cat">Cat</span>
  <p id="message">{{gameWarning}}</p>
 -->
</div>
<p id="message"{{gameWarning}}></p>

  


  <style type="text/css">
    .gameBoard{
      border: 5px solid white;
      float: left;
      margin: 10px;
    }
    td{
      border: 3px solid black;
      height: 50px;
      width: 50px;
      text-align: center;
    }
    #joinbtn{
      border-top: 5px solid white;
    }
    #joinbtntd{
      border: 5px solid white;
    }
  </style>

  <br/>
  <hr/>
  <hr/>
  <br>
<div class="row">
  <div >
    <small class="marker">Whos Online:</small>
    <ul class="list-unstyled">
      <li class="user"
           ng-repeat="user in users track by $index">
        <span class='label btn-mini label-default userlabel'>
          <i class='fa fa-user'></i>
            {{user.nickname}}
        </span>
        &nbsp;
        <a href="#" ng-click="sendLike(user)">
        <i class="fa fa-thumbs-up"></i>
        </a>
        </li>
      </ul>
    </div>

  <div >
    <small class="marker">Likes</small>
    <ul class="list-unstyled">
      <li ng-repeat='username in likes track by $index'>
        <span class='label btn-mini label-default userlabel' >
          <i class='fa fa-thumbs-o-up'></i>
          {{username}}
         </span>
         <small class="text-primary">&nbsp; sent like</small>
      </li>
    </ul>
  </div>

  <div >
    <form ng-submit='sendMessage()'>
      <div class='input-group'>
        <input class='input-sm form-control'
                    ng-model='message'
                    type='text'
                    placeholder="Type a message...">
        <span class='input-group-btn'>
          <input class='input-sm btn btn-default'
          type='submit'
          value='Send'>
        </span>
      </div>
    </form>
    <br>
    <div class='well chatbox' id='chat_history'>
      <ul class='list-unstyled'>
        <li ng-repeat='m in messages'>
          <i class='fa fa-comment'></i>
          &nbsp;
          <b>{{m.from}} </b>:
          &nbsp;
          {{m.message}}
        </li>
      </ul>
    </div>
  </div>
</div>
